@import url("https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600");
@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');

:root {
    --background-color: #2C2C54; 
    --text-color: #AAABB8; 
    --title-color: #ECECEC;
    --input-border-color: #a8b2d1;
    --input-bg-color: #ECECEC; 
    --input-text-color: #2C2C54; 
    --button-bg-color: #474787; 
    --button-text-color: #ECECEC;
    --button-hover-bg-color: #67729D; 
    --chart-container-bg-color: #112240; 
    
}

body {
    font-family: 'Titillium Web', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: var(--background-color);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.expense {
    max-width: 700px;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
    color: var(--title-color)
}

h2 {
    margin-top: 20px;
    color: var(--title-color)
    
}
a{
   color: #f6b1f2;
}

.expense-form,
.expense-report {
    margin-bottom: 40px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--input-border-color);
    background-color: var(--input-bg-color);
    color: var(--input-text-color);
    box-sizing: border-box;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: var(--button-hover-bg-color);
}
.logout {
    display: flex;
    justify-content: center; /* Center horizontally */
    margin-bottom: 20px; /* Add some margin for spacing */
}

.logout .btn {
    background-color: #f6b1f2;
    color: #fff;
    width: 30%;
    padding: 0.7rem 1.5rem;
    border: none;
    border-radius: 0.5rem;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.logout .btn:hover {
    background-color: #67729D;
}
.total-expense {
    margin-bottom: 20px;
}

.category-list {
    list-style-type: none;
    padding: 0;
}

.category-list li {
    margin-bottom: 5px;
}

.charts-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.chart {
    width: 45%;
    margin-bottom: 20px;
    background-color: var(--chart-container-bg-color);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.chart img {
    max-width: 100%;
    height: auto;
}
/* Media query for responsive design */
@media screen and (max-width: 768px) {
    .chart {
        width: 100%;
        
    }
}
/* Landing page styles */
.clipboard {
    position: relative;
    width: 750px;
    height: 750px;
    background: linear-gradient(45deg, #2c2c54 25%, transparent 25%),
        linear-gradient(315deg, #2c2c54 25%, transparent 25%),
        linear-gradient(45deg, transparent 24%, #474787 25%, #474787 45%, transparent 45%),
        linear-gradient(315deg, transparent 24%, #474787 25%, #474787 45%, transparent 45%);
    background-color: rgba(0, 0, 0, 0);
    background-size: 3em 3em;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #aaabb8;
}

.clipboard-content {
    position: relative;
    z-index: 1;
    font-family: 'Squada One', cursive;
}

.clipboard h1 {
    font-size: 3.5rem;
    margin: 0;
    margin-bottom: 1.5rem;
    color: #ECECEC;
}

.clipboard p {
    margin: 0;
    margin-bottom: 1.5rem;
}

.clipboard .btn {
    background-color: #f6b1f2;
    color: #fff;
    padding: 0.7rem 1.5rem;
    border: none;
    border-radius: 0.5rem;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.clipboard .btn:hover {
    background-color: #67729D;
}

@media screen and (max-width: 768px) {
    .clipboard {
        border-radius: 0;
        width: auto; 
        padding: 20px;
    }

    .clipboard h1 {
        font-size: 3rem;
    }
}

footer {
    background-color: #2c2c54;
    padding: 10px; /* Padding around the content */
    text-align: center; /* Center-align the content */
    position: fixed; /* Fixed position */
    bottom: 0; /* Stick to the bottom */
    width: 100%; /* Full width */
}