<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expenova</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://kit.fontawesome.com/2d42443209.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container expense">
        <header>
            <h1>Expenova</h1>
            <!-- Logout Button -->
            <form action="{{ url_for('logout') }}" method="post" class="logout">
                <button type="submit" class="btn btn-primary">Logout</button>
            </form>
        </header>
        <!-- Add Expense Form -->
        <div class="expense-form">
            <h2>Add Expense</h2>
            <form action="{{ url_for('add_expense') }}" method="post">
                <div class="form-group">
                    <label>Category:</label>
                    <div class="category-input">
                        <select id="category" name="category" onchange="handleCategoryChange(this)">
                            <option value="" disabled selected>Select a category or...</option>
                            <option value="Rent">Rent</option>
                            <option value="Travel">Travel</option>
                            <option value="Health">Health</option>
                            <option value="Transportation">Transportation</option>
                            <option value="Entertainment">Entertainment</option>
                            <option value="Groceries">Groceries</option>
                            <option value="Clothing">Clothing</option>
                            <option value="Education">Education</option>
                            <option value="Personal Care">Personal Care</option>
                            <option value="Insurance">Insurance</option>
                            <option value="Debt Repayment">Debt Repayment</option>
                            <option value="Custom">Custom</option>
                        </select>
                        <input type="text" id="custom_category" name="custom_category" placeholder="Type a category...">
                    </div>
                </div>
                <div class="form-group">
                    <label for="amount">Amount:</label>
                    <input type="number" id="amount" name="amount" required>
                </div>
                <button type="submit">Add Expense</button>
            </form>
        </div>

        <!-- Expense Report -->
        <div class="expense-report">
            <h2>Expense Report</h2>
            <div class="total-expense">
                <p>Total Expense: ${{ total_expense }}</p>
            </div>
            <ul class="category-list">
                {% for category, total in category_totals.items() %}
                    <li>
                        {% if category == "Rent" %}
                            <i class="fas fa-home"></i><span> Rent</span> 
                        {% elif category == "Travel" %}
                            <i class="fas fa-plane"></i><span> Travel</span> 
                        {% elif category == "Health" %}
                            <i class="fas fa-medkit"></i><span> Health</span> 
                        {% elif category == "Transportation" %}
                            <i class="fas fa-car"></i><span> Transportation</span> 
                        {% elif category == "Entertainment" %}
                            <i class="fas fa-film"></i><span> Entertainment</span> 
                        {% elif category == "Groceries" %}
                            <i class="fas fa-shopping-basket"></i><span> Groceries</span> 
                        {% elif category == "Clothing" %}
                            <i class="fas fa-tshirt"></i><span> Clothing</span> 
                        {% elif category == "Education" %}
                            <i class="fas fa-graduation-cap"></i><span> Education</span> 
                        {% elif category == "Personal Care" %}
                            <i class="fas fa-spa"></i><span> Personal Care</span> 
                        {% elif category == "Insurance" %}
                            <i class="fas fa-shield-alt"></i><span> Insurance</span> 
                        {% elif category == "Debt Repayment" %}
                            <i class="fas fa-hand-holding-usd"></i><span> Debt Repayment</span> 
                        {% else %}
                            <span>{{ category }}</span>
                        {% endif %}
                        : ${{ total }}
                    </li>
                {% endfor %}
            </ul>
        </div>

        <!-- Expense Charts -->
        {% if category_totals %}
        <h2>Expense Charts</h2>
        <div class="charts-container">
            <div class="chart">
                <h3>Expense Distribution by Category</h3>
                <img src="data:image/png;base64,{{ pie_chart_data }}" alt="Expense Distribution Pie Chart">
            </div>
            <div class="chart">
                <h3>Total Expense Amount by Category</h3>
                <img src="data:image/png;base64,{{ bar_chart_data }}" alt="Total Expense Amount Bar Chart">
            </div>
        </div>
        {% endif %}
    </div>
    <script src="{{ url_for('static', filename='theme.js') }}"></script>
    <footer>
        <p>App developed by <a href="https://yalniz.dev">yalniz.dev</a> | © 2024</p>
    </footer>
    <script>
        function handleCategoryChange(selectElement) {
            var customCategoryInput = document.getElementById('custom_category');
            var categoryHiddenInput = document.getElementById('category_hidden');
            
            // Check if no option is selected
            if (selectElement.value === '') {
                // Take the value from the custom category input
                var customCategoryValue = customCategoryInput.value.trim();
                
                // If custom category input is not empty, set category to custom category value
                if (customCategoryValue !== '') {
                    categoryHiddenInput.value = customCategoryValue;
                } else {
                    // Otherwise, set category to 'Other' as a default value
                    categoryHiddenInput.value = 'Other';
                }
            } else {
                // If an option is selected, set the value of the hidden input to the selected option value
                categoryHiddenInput.value = selectElement.value;
            }
        }
    </script>    
</body>
</html>
